@import "./base.css";

body{
  background-color: #545454;
  overflow-x: hidden;
}

#app {
  margin: 0 auto;
  font-weight: normal;
  height: 100vh;
}

.container {
  max-width: 1940px;
  margin: 0 auto;
  padding: 0 10px;
}

